button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
   background-color: white;
   box-shadow: 0px 10px 20px rgba(156, 32, 183, 0.716);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    height: 750px;
    display: flex;            
    justify-content: center;   
    align-items: center;      
    flex-direction: column;
}
#display{
    width: 400px;
    border-radius: 60px;
    padding: 10px;
    font-size: 50px;
    align-items: center;
    text-align: left;
    border: none;
    color: white;
    background-color: hsl(293, 51%, 25%);
    margin: 0 auto; 
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button:hover{
    background-color: rgb(129, 51, 88);
}
button:active{
    background-color: crimson;
}
.operator{
    background-color: rgb(8, 55, 143);
}

.heading {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;   
    font-size: 2rem;
}
